body {
    margin: 0;
    background-color: #f5f5f5;
}

#iframeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

#frame {
    border: 3px solid #2c3e50;
    border-radius: 8px;
    width: 80vw;
    height: 80vh;
    z-index: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#frameContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

#fullscreenBtn,
#openWindowBtn,
#reloadBtn {
    position: absolute;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 0;
    z-index: 1;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    line-height: 1;
}

#fullscreenBtn {
    top: -50px;
    right: calc(50% - 40px);
}

#openWindowBtn {
    top: -50px;
    right: 50%;
}

#reloadBtn {
    top: -50px;
    left: calc(50% - 80px);
}

.loading-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #2c3e50;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}